.ui-field-contain {
	border: none;
}
.centered {
	text-align: center;
}
.ui-field-contain .gray {
	color: #888888;
}
.gray {
	color: #888888;
}
#menu {
	max-width: 35%;
}
#menu li {
	font-family: sans-serif;
	font-weight: 900;
}
.padded {
	padding: 10px;
}
.padded-sides {
	padding-left: 10px;
	padding-right: 10px;
}
.title {
	font-family: sans-serif;
	font-weight: 700;
	background-color: #f3f3f3;
	border-color: #dddddd;
}
label.label {
	font-family: sans-serif;
	font-weight: 700;
}
.header .ui-title {
	font-family: sans-serif;
	font-weight: 900;
}
.footer .ui-title {
	font-family: sans-serif;
	font-weight: 300;
	font-size: small;
}
