@media screen and (max-width: 639px) {
    .container-fluid-centered {
        padding: 0 0 0 0;
    }

    .ranking-row-name {
        width: 40%;
    }

    .ranking-row-total-average, .ranking-row-proposition-average, .ranking-row-opposition-average {
        width: 20%;
    }

    .ranking-row-total-adjusted, .ranking-row-proposition-adjusted, .ranking-row-opposition-adjusted {
        width: 10%;
        display: none;
    }

    .ranking-row-total-count, .ranking-row-proposition-count, .ranking-row-opposition-count {
        width: 10%;
        display: none;
    }
}

@media screen and (min-width: 640px) and (max-width: 1279px) {
    .container-fluid-centered {
        padding: 0 5% 0 5%;
    }

    .ranking-row-name {
        width: 25%;
    }

    .ranking-row-total-average, .ranking-row-proposition-average, .ranking-row-opposition-average {
        width: 15%;
    }

    .ranking-row-total-adjusted, .ranking-row-proposition-adjusted, .ranking-row-opposition-adjusted {
        width: 10%;
        display: none;
    }

    .ranking-row-total-count, .ranking-row-proposition-count, .ranking-row-opposition-count {
        width: 10%;
    }
}

@media screen and (min-width: 1280px) {
    .container-fluid-centered {
        padding: 0 10% 0 10%;
    }

    .ranking-row-name {
        width: 25%;
    }

    .ranking-row-total-average, .ranking-row-proposition-average, .ranking-row-opposition-average {
        width: 10%;
    }

    .ranking-row-total-adjusted, .ranking-row-proposition-adjusted, .ranking-row-opposition-adjusted {
        width: 10%;
    }

    .ranking-row-total-count, .ranking-row-proposition-count, .ranking-row-opposition-count {
        width: 5%;
    }
}

.events, .ranking {
    padding: 0;
}

.event {
    padding-bottom: 1em
}

.score {
    font-size: 1.2em;
}

.winner {
    color: #0d47a1;
}

.team-titles {
    line-height: 2.0em;
}

.team-title {
    font-size: 1.1em;
    font-weight: 600;
}

.team-members {
    line-height: 1em;
}

.team-member {
    font-size: 0.7em;
    font-weight: 400;
}

.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.05;
    position: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../dixit.inenglish.logo.png');
}

.ranking-header {
    padding: 0;
    font-size: 0.9em;
    font-weight: 600;
    line-height: 1.8em;
    white-space: nowrap;
}

.ranking-row {
    padding: 0;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.6em;
    white-space: nowrap;
}

.ranking-header, .ranking-row {
    padding: 0 0.4em 0 0.4em;
}

.ranking-row-in {
    color: #000000;
}

.ranking-row-out {
    color: #bbbbbb;
}

.ranking-row-performance {
    padding-right: 0.4em;
}

.ranking-row-name {
    padding: 0;
}

.ranking-row-total-average, .ranking-row-total-adjusted, .ranking-row-total-count {
    text-align: center;
    padding: 0;
}

.ranking-row-proposition-average, .ranking-row-proposition-adjusted, .ranking-row-proposition-count {
    text-align: center;
    padding: 0;
}

.ranking-row-opposition-average, .ranking-row-opposition-adjusted, .ranking-row-opposition-count {
    text-align: center;
    padding: 0;
}
