@media screen and (max-width: 639px) {
    .container-fluid-centered {
        padding: 0 0 0 0;
    }

    .ranking-row-name {
        width: 40%;
    }

    .ranking-row-score-total-average, .ranking-row-score-proposition-average, .ranking-row-score-opposition-average {
        width: 20%;
    }

    .ranking-row-score-total-adjusted, .ranking-row-score-proposition-adjusted, .ranking-row-score-opposition-adjusted {
        width: 10%;
        display: none;
    }

    .ranking-row-score-total-count, .ranking-row-score-proposition-count, .ranking-row-score-opposition-count {
        width: 10%;
        display: none;
    }
}

@media screen and (min-width: 640px) and (max-width: 1279px) {
    .container-fluid-centered {
        padding: 0 15% 0 15%;
    }

    .ranking-row-name {
        width: 25%;
    }

    .ranking-row-score-total-average, .ranking-row-score-proposition-average, .ranking-row-score-opposition-average {
        width: 15%;
    }

    .ranking-row-score-total-adjusted, .ranking-row-score-proposition-adjusted, .ranking-row-score-opposition-adjusted {
        width: 10%;
        display: none;
    }

    .ranking-row-score-total-count, .ranking-row-score-proposition-count, .ranking-row-score-opposition-count {
        width: 10%;
    }
}

@media screen and (min-width: 1280px) {
    .container-fluid-centered {
        padding: 0 10% 0 10%;
    }

    .ranking-row-name {
        width: 25%;
    }

    .ranking-row-score-total-average, .ranking-row-score-proposition-average, .ranking-row-score-opposition-average {
        width: 10%;
    }

    .ranking-row-score-total-adjusted, .ranking-row-score-proposition-adjusted, .ranking-row-score-opposition-adjusted {
        width: 10%;
    }

    .ranking-row-score-total-count, .ranking-row-score-proposition-count, .ranking-row-score-opposition-count {
        width: 5%;
    }
}

.events, .ranking {
    padding: 0;
}

.event {
    padding-bottom: 1rem
}

.score {
    font-size: 1.2rem;
}

.winner {
    color: #0d47a1;
}

.team-titles {
    line-height: 2.0rem;
}

.team-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.team-members {
    line-height: 1rem;
}

.team-member {
    font-size: 0.7rem;
    font-weight: 400;
}

body {
    background: url('../debates.inenglish.logo.transparent.png') no-repeat center;
    background-size: contain;
}

.ranking-header {
    padding: 0;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.8rem;
    white-space: nowrap;
}

.ranking-row {
    padding: 0;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.6rem;
    white-space: nowrap;
}

.ranking-header, .ranking-row {
    padding: 0 0.4rem 0 0.4rem;
}

.ranking-row-in {
    color: #000000;
}

.ranking-row-out {
    color: #bbbbbb;
}

.ranking-row-performance {
    padding-right: 0.4rem;
}

.ranking-row-name {
    padding: 0;
}

.ranking-row-score-total-average, .ranking-row-score-total-adjusted, .ranking-row-score-total-count {
    text-align: center;
    padding: 0;
}

.ranking-row-score-proposition-average, .ranking-row-score-proposition-adjusted, .ranking-row-score-proposition-count {
    text-align: center;
    padding: 0;
}

.ranking-row-score-opposition-average, .ranking-row-score-opposition-adjusted, .ranking-row-score-opposition-count {
    text-align: center;
    padding: 0;
}
